.page-center { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
}

.vertical-center { 
position: relative; 
top: 50%; 
transform: translateY(-50%); 
}

.navbar, .subnavbar, .toolbar {
    background: #fff !important;
	
}
.navbar,.toolbar{
	color: #000 !important;
}

div[data-page="modules"] > .page-content > .content-block > .content-block-inner, div[data-page="module-1"] >  .page-content > .content-block > .content-block-inner {
	
	border-top: 2px solid #000;
}

div[data-page="modules"] > .page-content > .content-block > .content-block-inner > .row > .col-50{
	
		text-align: center;
		padding: 1rem;
	}
div[data-page="modules"] > .page-content > .content-block > .content-block-inner > .row > .col-50 > a{
		display: block;
		position: relative;
		color: #000;
	}
	
a[href="#form"]{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 1rem;
	color: #000;
	display: block;
	position: relative;
	margin: 10px 0;
}

a[id="reminder"],a[href="#modules"]{
	display: block;
	text-align: center;
	padding: 15px;
}

a[href="#modules"]{
	color: #000;
	font-weight: 900;
}

.icon{
	border-radius: 50%;
	border: solid 2px #000;
	padding: 10px;
	width: 80%;
	height: auto;
}

.icon + span{
		display: block;
		text-align: center;
		padding: 1rem;
}